@model GraphMapper.Models.ShapePalette

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShapePalette</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Columns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Columns)
        </dd>

    </dl>

    <div style="display:inline-block;">

        @{ string shapePaletteWidth = ViewBag.ShapePaletteWidth + "px"; }
        @{ string shapePaletteHeight = ViewBag.ShapePaletteHeight + "px"; }

        <article class="shapepalette" style="width: @shapePaletteWidth; height: @shapePaletteHeight;">
            @foreach (var item in Model.Shapes)
            {
                <a href="/Profile/SetShapeID/@item.ID">
                    <img src="@ViewBag.ImageFilenames[item.Row, item.Column]" style="left:@ViewBag.ImageLefts[item.Row, item.Column]px; top:@ViewBag.ImageTops[item.Row, item.Column]px;" />
                </a>
            }
        </article>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
