@model GraphMapper.Models.GraphMap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GraphMap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Columns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Columns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <div style="display: inline-block;">

        @{ string graphMapWidth = ViewBag.GraphMapWidth + "px"; }
        @{ string graphMapHeight = ViewBag.GraphMapHeight + "px"; }

        <article class="graphmap" style="width: @graphMapWidth; height: @graphMapHeight;">
            @foreach (var item in Model.MapElements)
            {
                <img src="@ViewBag.ImageFilenames[item.Row, item.Column]" style="left:@ViewBag.ImageLefts[item.Row, item.Column]px; top:@ViewBag.ImageTops[item.Row, item.Column]px;" />
            }
        </article>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
