@model IEnumerable<GraphMapper.Models.Shape>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileNameExtensionSeparator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Row)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileNameExtensionSeparator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Row)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
